attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
bullet==2.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
decorator==5.0.4
fastapi==0.61.2
h11==0.12.0
idna==2.10
iniconfig==1.1.1
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.18.0
packaging==20.9
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
py==1.10.0
pydantic==1.8.1
Pygments==2.8.1
pyparsing==2.4.7
pypi-simple==0.8.0
pytest==6.2.3
requests==2.25.1
rich==10.1.0
rubymarshal==1.2.7
soupsieve==2.2.1
starlette==0.13.6
toml==0.10.2
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.12.2
wcwidth==0.2.5
